.socialBG {
  background-color: #FFF5F4;
}

.w-10 {
  width: 10%;
}

.socialTag {
  font-size: 1.2rem;
}

.socialButton {
  border: 0;
  background-color: unset;
  transition: 0.3s ease-in-out;
}

.socialButton:hover {
  transform: scale(1.01);
}

.middleBorder {
  border-right: 2px solid black;
}

@media only screen and (max-width: 991px) {
  .middleBorder {
    border-right: none;
  }
}